<h4>Navigation :</h4>
<ul>
    <li><a routerLink="/regions">Affichage des entités parent (Regions)</a></li>
    <li><a routerLink="/pokemons">Administration des pokemons (C.R.U.D)</a></li>
</ul>

<h4>Cadre :</h4>

<ul>
    <li>Découverte Angular 8</li>
    <li>Formateur : Amine El wassifi</li>
</ul>

<h4>Fonctionnalités :</h4>
<ul class='last_list_menu_component'>
    <li>Application mono-page responsive.</li>
    <li>Affichage d'une liste d'entités parentes (regions).</li>
    <li>Redirection vers une page contenant les enfants de l'entité parente sélectionnée.</li>
    <li>Administration des enfants (pokemons) : C.R.U.D</li>
    <li>Affichage d'un Pop-up (C.R.U.D -> Ajout Pokemon)</li>
    <li>Implémentation de boutons « retour »</li>
    <li>Utilisation des « routerlinks »</li>
</ul>

<footer><p>Développé par <a href="https://yohannmoy.fr/" target="_blank">Yohann MOY</a></p></footer>



 <!-- Ici il faut définir les routes et c'est dans celles ci que l'on va définir quel composant
ca va afficher-->
